extends layout

block pagescript
    script(defer, src='/js/script.js')
    script
        var roomid = "!{roomid}"

block content
    // Modal main menu
    div(id='instructions',class='modal fade in',tabindex="-1",role="dialog",aria-labelledby="modalLabel")
        div(class='modal-header')
            h1(id='modalLabel')='Please Wait...'
        div(class='modal-body')
            h3(id='modalmessage')='Connecting...'
            p='If your opponent can\'t connect, send him this url: '
            input(id='inputurl', class='span6')=''

    // Modal end menu
    div(id='endmenu',class='modal fade hide',tabindex="-1",role="dialog",aria-labelledby="modalLabel2")
        div(class='modal-header')
            h1(id='modalLabel2')='Game Over!'
        div(class='modal-body')
            h3(id='modalmessage2')='You WIN/LOSE'
            p='Stats: '
        div(class='modal-footer')
            a(href='/',class='btn')='Back to Menu'
            a(href='#',id='replay-button',class='btn btn-primary')='Replay !'

    // Game view
    div
        div(id='words')
        div(id='playingword', class='playingword')
        canvas(id='canvas', width='740', height='400')
    div(id='timer', class='timer')=''
    div(id='gametimer')='0'
    div(id='scorepane')
        span='Score: '
        span(id='score')
    div(class='playingpane')
        input(id='play-input', type='text')
    div(id='stats')
        span='Key typed: '
        span(id='keytyped')='0'
        br
        span='Errors: '
        span(id='errors')='0'
        br
        span='Accuracy: '
        span(id='accuracy')='1'
        br
        span='Average Speed: '
        span(id='avgspeed')='0'
        span=' keypressed/sec'
    div
        ul(id='players')
    div
        div(id='logs')
    div(class='endmenu')
        span='Game Over'
        ul
            li
                a(href='/')='Return to Menu'
            li
                a(href='/FIXME')='Replay'
