extends layout

block pagescript
    script(defer, src='/js/script.js')
    script
        var roomId = "!{roomId}"
        var oppId = "!{oppId}"

block content
    div
        div(id='words')
        div(id='playingword', class='playingword')
        canvas(id='canvas', width='740', height='400')
    div(id='timer', class="timer")=''
    div(id='gametimer')='0'
    div(id='scorepane')
        span='Score: '
        span(id='score')
    div(class='playingpane')
        span='Playing: '
        span(id='played')
    div(id='stats')
        span='Key typed: '
        span(id='keytyped')='0'
        br
        span='Errors: '
        span(id='errors')='0'
        br
        span='Accuracy: '
        span(id='accuracy')='1'
        br
        span='Average Speed: '
        span(id='avgspeed')='0'
        span=' keypressed/sec'
    div
        ul(id='players')
    div
        div(id='logs')
    div(class='endmenu')
        span='Game Over'
        ul
            li
                a(href='/')='Return to Menu'
            li
                a(href='/FIXME')='Replay'
