extends layout

block pagestyle
    link(rel='stylesheet', href='/css/game.css')

block pagescript
    script(defer, src='/js/menuscript.js')
    script(defer, src='/js/facebook-utils.js')
    script
        var requestids = !{requestids}

block content
    div(class='container', id='loading')
       div(class='hero-unit')
            h1='Loading...'
            div(class='progress progress-striped active', style='width: 50%')
                div(class='bar', style='width: 100%')


    div(id='spinner', class='spinner')

    div(id='main', style='display:none', class='container')
        // Modal invitation
        div(id='invitations',class='modal fade hide',tabindex="-1",role="dialog",aria-labelledby="modalLabel")
            div(class='modal-header')
                button(type='button', class='close', data-dismiss='modal', aria-hidden='true')='&times;'
                h3(id='modalLabel')='Hey, someone invited you to play !'
            div(class='modal-body')
                table(id='modalmessage', class='table table-bordered')=''
            div(class='modal-footer')
                a(href='#',  data-dismiss='modal', class='btn btn-custom btn-red')='Close'

        div(class='maincontent')
            div(class='hero-unit')
                //- h1='Type To Fight'
                img(src='images/logo-landscape.png')
                p='Test your typing skills and compete against your friends'
                hr
                div(class='narrow-container')
                    div(class='menu-small-buttons')
                        div(class='menu-small-buttons2')
                            a(href="#", id="btn-sound", class='btn btn-large btn-float-right btn-custom btn-green btn-menu-small')
                                i(class='icon-white icon-volume-down')
                                span=' Sound'
                        div(class='menu-small-buttons2')
                            a(href="#", id="btn-music", class='btn btn-large btn-float-right btn-custom btn-green btn-menu-small')
                                i(class='icon-white icon-music')
                                span=' Music'

                    div(class='button-menu')
                        a(href="/game/practice", id='game-practice', class='btn btn-large btn-custom btn-blue btn-menu')="Practice"
                    div(class='button-menu')
                        a(href="#", id='game-with-random', class='btn btn-large btn-custom btn-blue  btn-menu')="Play with Random Opponent"
                    div(class='button-menu')
                        a(href="#", id='game-with-friend', class='btn btn-large btn-custom btn-blue  btn-menu')="Play with Friend"
                    div(id='online-friends')
                    div(class='button-menu')
                        a(href="#page=leaderboard&pagen=0&type=all", id="leaderboard-btn", class='btn btn-large btn-custom btn-blue btn-menu')="Leaderboards"
                    div(class='button-menu')
                        a(href="#page=stats&type=current", id="stats-btn", class='btn btn-large btn-custom btn-blue  btn-menu')="Game Stats"
                    div(class='button-menu')
                        a(href="#", id="invite-friends", class='btn btn-large btn-custom btn-blue  btn-menu')="Invite Friends"
                div(id='offline-friends')
                    h2='Offline friends'
                    ul(id='offlne-friends-ul')



    div(id='leaderboard', style='display:none', class='container')
        div(class='hero-unit')
            div(id='lb-header')
                a(href='#page=menu', style='margin-top: -30px;',class='btn btn-custom btn-red')='&larr; Back to Menu'
                h1='Leaderbords'
                div(class='tabbable')
                    ul(class='nav nav-tabs', style='margin: 0;')
                        li(id='li-all',class='active')
                            a(href='#page=leaderboard&pagen=0&type=all')='All'
                        li(id='li-around', class='')
                            a(href='#page=leaderboard&pagen=0&type=around')='Around Me'
                        li(id='li-friends', class='')
                            a(href='#page=leaderboard&pagen=0&type=friends')='Friends'
            div(id='lb-main',style='background-color: white;')
                div(id='lb-table')
                    table(class='table table-striped')
                        thead
                            tr
                                th(class='th-type span2')='Rank'
                                th(class='th-word span8')='Name'
                                th(class='th-power span2')='Rating'
                        tbody(id='lb-table-body')

            div(id='lb-footer')
                ul(class='pager')
                    li(class='previous')
                        a(id='lb-btn-previous', href='#page=leaderboard&pagen=0&type=all', class='btn btn-custom btn-blue')='&larr; Previous'
                    li(class='next')
                        a(id='lb-btn-next', href='#page=leaderboard&pagen=1&type=all', class='btn btn-custom btn-blue')='Next &rarr;'

    div(id='stats', style='display:none', class='container')
        div(class='hero-unit')
            div(id='sp-header')
                a(href='#page=menu', style='margin-top: -30px;',class='btn btn-custom btn-red')='&larr; Back to Menu'
                h1='Stats'
                div(class='tabbable')
                    ul(class='nav nav-tabs', style='margin: 0;')
                        li(id='sp-current', class='active')
                            a(href='#page=stats&type=current')='Current'
                        li(id='sp-stats-history', class='')
                            a(href='#page=stats&type=stats-history')='Stats History'
                        li(id='sp-rank-history', class='')
                            a(href='#page=stats&type=rank-history')='Rank History'

            div(id='sp-main', class='main-stats', style='background-color: white;')
                div(id='sp-tab-current')
                    table(class='table table-striped')
                        tbody()
                div(id='sp-tab-stats-history')
                div(id='sp-tab-rank-history')
            div(id='sp-footer')
