extends layout

block pagestyle
    link(rel='stylesheet', href='/css/menu.css')

block pagescript
    script(defer, src='/js/menuscript.js')
    script(defer, src='/js/facebook-utils.js')
    script
        var requestids = !{requestids}

block content
    div(class='container', id='loading')
       div(class='hero-unit')
            h1='Loading...'
            div(class='progress progress-striped active', style='width: 50%')
                div(class='bar', style='width: 100%')
    div(id='main', style='display:none', class='container')
        // Modal invitation
        div(id='invitations',class='modal fade hide',tabindex="-1",role="dialog",aria-labelledby="modalLabel")
            div(class='modal-header')
                button(type='button', class='close', data-dismiss='modal', aria-hidden='true')='&times;'
                h3(id='modalLabel')='Hey, someone invited you to play !'
            div(class='modal-body')
                table(id='modalmessage', class='table table-hover')=''
            div(class='modal-footer')
                a(href='#',  data-dismiss='modal', class='btn btn-primary')='Close'

        div(class='maincontent')
            div(class='hero-unit')
                h1='Type To Fight'
                p='Test your typing skills and compete against your friends'
                hr
                div(class='narrow-container')
                    div(class='button-menu')
                        a(href="/game/practice", id='game-practice', class='btn btn-large btn-primary btn-menu')="Practice"
                    div(class='button-menu')
                        a(href="#", id='game-with-random', class='btn btn-large btn-primary btn-menu')="New Game with Random Opponent"
                    div(class='button-menu')
                        a(href="#", id='game-with-friend', class='btn btn-large btn-primary btn-menu')="New Game with Friend"
                    div(id='online-friends')
                        h2='Online friends'
                        ul(id='online-friends-ul', class='unstyled')
                    div(class='button-menu')
                        a(href="/leaderboards", class='btn btn-large btn-primary btn-menu')="Leaderboards"
                    div(class='button-menu')
                        a(href="#", id="invite-friends", class='btn btn-large btn-primary btn-menu')="Invite Friends"
                div(id='offline-friends')
                    h2='Offline friends'
                    ul(id='offlne-friends-ul')
