extends layout

block pagestyle
    link(rel='stylesheet', href='/css/game.css')

block pagescript
    script(defer, src='/js/script.js')

block content
    // Modal end menu
    div(id='modal-end')
        div(class='modal-header')
            h1(id='modalLabel2')='Game Over!'
        div(class='modal-body')
            h3(id='modalmessage2')='You WIN/LOSE'
            div(id='modalstats')='Stats: '
            div(id='modalstats-global')='Global Stats'
        div(class='modal-footer')
            a(href='/',class='btn')='Back to Menu'
            a(href='#',id='replay-button',class='btn btn-primary')='Replay !'
